body{
  color: #777;
  font-size: 20px;
}

.fa-coffee{
  font-size: 50px;
  margin-right: 60px;
}

.nav-link{
  font-size: 20px;
  text-transform: uppercase;
}

.nav-link:hover{
  background-color: #eee;
  border-radius: 8px;
}

.header-section{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.header-title{
  font-size: 60px;
  text-transform: uppercase;
}

#About{
  text-align: center;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.headline{
  margin-bottom: 20px;
}

.about-headline{
  font-size: 30px;
  font-weight: bolder;
}

.p2{
  text-align: justify;
}

.food1{
  width: 30%;
  margin: 6px;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 2px;
}

video{
  width: 100%;
}
