body{
  color: #777;
  font-size: 20px;
}

.fa-coffee{
  font-size: 50px;
  margin-right: 60px;
}

.nav-link{
  font-size: 20px;
  text-transform: uppercase;
}

.nav-link:hover{
  background-color: #eee;
  border-radius: 8px;
}

.header-section{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.header-title-one{
  font-size: 80px;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
}

.header-p1{
  font-size: 30px;
}

#about{
  text-align: center;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

h1{
  color: red;
}

.about-headline{
  font-size: 30px;
  font-weight: bolder;
  color: #000;
  font-family: 'Pirata One', cursive;
}

.p2{
  text-align: justify;
}

.food1{
  width: 30%;
  margin: 6px;
  border-radius: 10px;
}

video{
  width: 100%;
}

.yellow-section{
  background-color: gold;
  margin-bottom: 30px;
  text-align: center;
  padding: 20px 20px;
}

.fa-trophy{
  font-size: 50px;
  color: #fff;
}

.fa-trophy:hover{
  color: orangered;
}

.fa-check-circle{
  font-size: 50px;
  color: #fff;
}

.fa-check-circle:hover{
  color: orangered;
}


.fa-thumbs-up{
  font-size: 50px;
  color: #fff;
}

.fa-thumbs-up:hover{
  color: orangered;
}

.p3{
  text-align: justify;
  margin-top: 20px;
  word-spacing: 0px;
}


.top-menu{
  text-align: center;
}

.menu-headline{
  font-size: 30px;
  font-weight: bolder;
  color: #000;
  font-family: 'Pirata One', cursive;
}

.menu-images{
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.coffee-image{
  display: block;
  width: 100%;
  height: auto;
}

.overlay{
  position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 background-color: #eee;
 overflow: hidden;
 width: 100%;
 height: 0;
 transition: .5s ease;
}

.menu-images:hover .overlay{
  height: 100%;
}

.text{
  color: #777;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.menu-title{
 margin-bottom: 30px;
}

.menu-headline{
  margin-right: 20px;
}

#chefs{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.chef-images{
  padding-top: 20px;
}

.chef-images:hover{
  padding-top: 20px;
  box-shadow: 0px 2px 2px 0px;
}

.chefone{
  width: 100%;
}

.chef-profession{
  border: 1px solid #777;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}


.event-title{
  font-size: 40px;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-family: 'Abril Fatface', cursive;
}

.kitchen{
  color: #000;
  text-transform: capitalize;
  font-family: 'Bungee Inline', cursive;
}

.workshops{
  color: #000;
  font-family: 'Bungee Inline', cursive;
}

.event-p3{
  background-color: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
}

.event-p3:hover{
  box-shadow: 0px 2px 2px 0px;
}

 #contact{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.reserve{
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
}

.contact-info{
  margin-top: 60px;
}

.fa-home, .fa-phone, .f-globe, .fa-envelope-open{
  margin-right: 20px;
}


.Social-media{
  padding-bottom: 30px;
}

h2{
  margin-bottom: 30px;
}


.fa-facebook, .fa-twitter, .fa-instagram{
  font-size: 40px;
  margin-right: 10px;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover{
  cursor: pointer;
}
